main {
    padding: 40px;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.form--input {
    border-radius:5px;
    border: 1px solid;

}

.form--button {
    grid-column: 1 / -1;
    border-radius:5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color:white;
    border: none;
    cursor: pointer;

}